<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <header>
      <h1><a href="/">gurchik</a></h1>
    </header>
    <main>{% block body %}{% endblock %}</main>
    <footer>
      <p>The content on this site is licensed under a <a href="http://creativecommons.org/licenses/by-sa/4.0/">Creative Commons Attribution-ShareAlike 4.0 International</a> license.</p>
    </footer>
    <script async src="https://analytics.umami.is/script.js" data-website-id="53697a21-8945-481f-86fb-a7311bad440d"></script>
  </body>
</html>